extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-black
                h2 iBanda - Arquivo de Música Digital 
                h3 Menu Administrador
            .w3-container
                ul
                    li
                        a(href="http://localhost:2727/admin/users") Administração dos Users
                    li
                        a(href="http://localhost:2727/admin/obras") Administração das Obras
                    li
                        a(href="http://localhost:2727/admin/noticias") Administração de Notícias
                    li
                        a(href="http://localhost:2727/admin/agenda") Administração da Agenda